nav .navbar-brand, .nav-link {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: bold;
}

h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
	background-color: lightgray;
}

h2 {
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
	background-color: aliceblue;
}

form {
	text-align: center;
}

.row {
	display: flex;
	justify-content: center;
}

.form-row {
	display: flex;
	justify-content: center;
}

section, ul {
	text-align: center;
}

.requis {
	color: red;
}

.erreur {
    color: red;
}

.succes {
    color: green;
}