nav .navbar-brand, .nav-link {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

h1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-color: lightgray;
}

h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	border: 1px solid;
	border-radius: 0.25rem;
}

.card-header {
	font-family: 'Raleway', sans-serif;
}

form {
	text-align: center;
}

.row {
	display: flex;
	justify-content: center;
}

.form-row {
	display: flex;
	justify-content: center;
}

section, ul {
	text-align: center;
}

.card {
	margin: auto;
}

.requis {
	color: red;
}

.erreur {
    color: red;
}

.succes {
    color: green;
}